* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
}

@media screen and (max-width: 900px) {
  .show-on-mobile-dark {
    min-width: 200px;
    z-index: 2;
    position: fixed;
    background-color: #000000;
    top: 50px;
    left: 0;
    bottom: 0;
  }

  .show-on-mobile-light {
    min-width: 200px;
    z-index: 2;
    position: fixed;
    background-color: #ffffff;
    top: 50px;
    left: 0;
    bottom: 0;
    box-shadow: inset -5px 0px 5px -5px rgb(191 191 191 / 50%);
  }

}